#slideshow {
    overflow: hidden;
    height: 510px;
    width: 80%;
    /* padding: 0 50px 0 50px; */
    /* box-sizing: border-box; */
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.slide-wrapper {
    display: flex;
    width: 4593px;
    -webkit-animation: slide 14s ease infinite;
}

.slide {
    /* float: left; */
    height: 510px;
    width: 1531px;
}

.img1 {
    background: url('https://firebasestorage.googleapis.com/v0/b/database-6cded.appspot.com/o/R.jpg?alt=media&token=ff7287f8-7c96-4f88-9a3c-3ad1a578f4c7');
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background: url('https://firebasestorage.googleapis.com/v0/b/database-6cded.appspot.com/o/slbk.jpg?alt=media&token=4e315674-f97a-4930-86f8-f81b0b98b09a');
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background: url('https://firebasestorage.googleapis.com/v0/b/database-6cded.appspot.com/o/OIP.jpg?alt=media&token=51a2637f-c538-4b0f-8e76-d590e26adc75');
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -1531px;
    }

    50% {
        margin-left: -1531px;
    }

    60% {
        margin-left: -3062px;
    }

    80% {
        margin-left: -3062px;
    }
}